<html>
     <head>
        <title> My Todo App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/images/appicon.png" type="image/png">
     </head>
     <body>
        <div id="content-block">
            <h1> TODO App <hr> </h1> 
            <form action="/add-task" method="POST">
                <section id="desc">
                    <label id="lab" for="que1">DESCRIPTION</label>
                    <input id="que1" name="que1"  type="text" placeholder="What do you need to do?" autocomplete="off" required>
                    <hr>
                </section>  
                <div id="container">  
                     <div id="category">           
                        <label for="que2">CATEGORY</label>
                        <br>
                        <select id="que2" name="que2" required>
                        <option value="" disabled selected hidden>Choose A Category</option>
                        <option value="Personel">Personel</option>
                          <option value="Work">Work</option>
                          <option value="School">School</option>
                          <option value="College">College</option>
                          <option value="Meeting">Meeting</option>
                          <option value="Other">Other</option>
                        </select>
                        <span class="vl"></span>
                        <hr>
                     </div> 
                      <div id="due-date">
                        <label for="que3">DUE DATE</label>
                        <br>
                        <input id="que" name="que3" type="date" required>
                        <hr>
                     </div>
                </div>  
                  <div id="btns">
                          <button  type="submit"> <i class="fas fa-plus"></i> &ensp;ADD TASK</button>
                        </form>
                          <form action="/delete-task" method="POST">
                          <button id="del"  onclick=" if (confirm('Are you want to delete a task?'))
                          commentDelete(1);        
                          return false " type="submit"><i class="fas fa-trash"></i>&nbsp;DELETE TASK</button>
                          <hr>
                  </div>      
            <div id="list">
                <ul type="none">
                  <% for(let i of task_list) {%>
                  <li>
                      <div id="task_list">
                               <input type="checkbox" id="check"  name="check" value="<%=i._id%>">
                       <div id="task_category">
                              <span><%=i.que2%> </span>
                       </div>
                       <div id="task_container" >
                             <span id="task_name"> <%=i.que1%> </span>
                               <br>
                              <span id="task_date">&ensp;<i class="fas fa-calendar-week"></i>&emsp;<%=i.que3.toDateString()%></span>
                       </div>
                       </div>
                       </li>
                  <%}%>
                </form>
                 </ul>
              </div>
        </div>
        <script type="text/javascript" src="/js/script.js"></script>
    </body>
</html>